.wrap{
    margin-top: 2rem;
}


.news{
    h2{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1rem;
        span{
            font-size: 13px;
            color: #757575
        }
    }
    .boxs{
        background-color: $white;
        padding:2rem;
        border-radius: 5px;
        .news{
            .col-md-3{
                .img{}
            }
            .col-md-9{
                p.title{

                }
                p.description{

                }
            }
        }
    }
}