.post-details {
  margin: 10px 0;
  background-color: #fff;
  padding: 1.5rem;
  .post-author {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .avatar {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
    .author {
      p {
        margin: 0;
        font-size: 13px;
        color: $colorText;
      }
      .name {
        color: black;
      }
      .i {
      }
      .category {
      }
    }
  }
  .post-title {
    font-size: 1.5rem;
  }
  .post-image {
    margin: 0.5rem 0;
    width: 100%;
    height: auto;
  }
  .post-content {
  }
  .tagged {
    margin: 1rem 0;
    span {
      padding: 8px 10px;
      background: rgba(0, 0, 0, 0.05);
      cursor: pointer;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
    }
    span:hover {
      background-color: #ebebeb;
    }
  }
  .sharing {
    margin-bottom: 1rem;
    span {
      cursor: pointer;
      margin-right: 5px;
      color: #3798d8;
    }
    span:last-child {
      margin-right: 0;
    }
  }
}

.post-related {
  background-color: #fff;
  padding: 1.5rem;
  h4 {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .content {
    margin-top: 1rem;
    columns: 3;
    .item {
      max-height: 345px;
      img {
        width: auto;
        height: 230px;
      }
      .item-name {
        display: block;
        margin: 10px 0;
        color: #000;
      }
      .timer {
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: $colorText;
        i {
          margin-right: 10px;
        }
      }
    }
  }
}
