.post-details{
    margin: 10px 0;
    background-color: #fff;
    padding:1rem;
    .post-title{
        font-size: 1.5rem;
    }
    .post-image{
        margin: 0.5rem 0;
        width: 100%;
        height: auto;

    }
    .post-content{

    }
    .tagged{
        margin: 1rem 0;
        span{
            padding:8px 10px;
            background: rgba(0, 0, 0, 0.05);
            cursor: pointer;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
        }
        span:hover{
            background-color: #ebebeb;
        }
    }
}